<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>Palladio Embed App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Palladio -->
    <link type="text/css" href="bower_components/palladio/palladio.css" rel="stylesheet" />
    <link type="text/css" href="bower_components/palladio-timeline-component/dist/palladio-timeline-component.css" rel="stylesheet" />
    <link type="text/css" href="bower_components/palladio-facet-component/dist/palladio-facet-component.css" rel="stylesheet" />
    <link type="text/css" href="bower_components/palladio-timespan-component/dist/palladio-timespan-component.css" rel="stylesheet" />
    <link type="text/css" href="css/palladio-embed-app.css" rel="stylesheet" />
    
    <link rel="stylesheet" type="text/css" href="bower_components/codemirror/lib/codemirror.css">
    <script type="text/javascript" src="bower_components/codemirror/lib/codemirror.js"></script>

    <script src="bower_components/palladio/palladio.js"></script>
    <script src="bower_components/palladio-timeline-component/dist/palladio-timeline-component.min.js"></script>
    <script src="bower_components/palladio-facet-component/dist/palladio-facet-component.min.js"></script>
    <script src="bower_components/palladio-timespan-component/dist/palladio-timespan-component.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
    
    <script src="js/app.js"></script>

  </head>

  <body>
    <div id="main" class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <!-- Visualization display area -->
          <h2>Your visualizations will display here</h2>
          <div id="components">
          </div>
        </div>
        <div class="col-md-3" ng-app="palladioEmbedApp">
          <!-- Visualization configuration area -->
          <h2>Configure here</h2>
          <div ng-controller="EmbedCtrl">
            
            <!-- Load file -->
            <div data-ng-hide="file">
              <div data-ng-click="triggerDataModelSelector()">
                <button class="btn btn-default">Load Palladio Save File</button>
              </div>
              <input type="file" id="dataModelSelector" style="display:none" onchange="angular.element(this).scope().loadDataModel(this)" />
            </div>
            
            <!-- Add components -->
            <div data-ng-show="file">
              <div ng-repeat="visualization in visualizations" data-ng-click="addVisualization(visualization)">
                {{visualization.description}}
              </div>
              <div data-ng-show="visualizations.length === 0">
                <button class="btn btn-default" data-ng-click="startOver()">Start over</button>
              </div>
            </div>
            
            <h2>Instructions</h2>
            <div>
              Put this code at the end of your HTML page &lt;body&gt; tag, right before the &lt;/body&gt;
              <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="embedCodeString" ui-refresh="cmRefresh"></ui-codemirror>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>